.booking {
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 67px;
  width: 280px;
}

.booking__heading {
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $heading-color;
}

.booking__desc {
  margin-bottom: 57px;
  line-height: 24px;
  color: $desc-color;
}

@media (min-width: $tablet-width) {
  .booking {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 460px;
  }

  .booking__heading {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .booking__btn {
    padding: 17px 135px;
  }
}

@media (min-width: $tablet-width) {
  .booking {
    padding-bottom: 80px;
  }

  .booking__desc {
    margin-bottom: 70px;
  }
}
