.booking {
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 67px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 460px;
  }
}

.booking__heading {
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $heading-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.booking__desc {
  margin-bottom: 57px;
  line-height: 24px;
  color: $desc-color;
}

.booking__btn {
  @media (min-width: $tablet-width) {
    padding: 17px 135px;
  }
}
