.city-advantages__list {
  list-style: none;
  text-align: left;
  margin: 40px;
}

.city-advantages__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $heading-color;
}

.city-advantages__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
  }

  &--house::before {
    width: 37px;
    height: 36px;
    background: url("../../img/icon-house.svg") center no-repeat;
    background-size: contain;
  }

  &--gifts::before {
    width: 32px;
    height: 38px;
    background: url("../../img/icon-gift.svg") center no-repeat;
    background-size: contain;
  }

  &--food::before {
    left: -55px;
    width: 40px;
    height: 35px;
    background: url("../../img/icon-burger.svg") center no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .city-advantages__list {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 155px;
    margin-bottom: 50px;
  }

  .city-advantages__item {
    display: flex;
    flex-direction: column;
    width: 165px;
    text-align: center;

    &--gifts {
      order: 1;
    }

    &::before {
      top: -85px;
      left: 45px;
    }

    &--house::before {
      width: 75px;
      height: 72px;
    }

    &--gifts::before {
      left: 50px;
      width: 64px;
      height: 75px;
    }

    &--food::before {
      left: 45px;
      width: 77px;
      height: 68px;
    }
  }

  .city-advantages__heading {
    margin-bottom: 15px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .city-advantages__list {
    justify-content: space-around;
    padding: 0;
    margin-right: 0;
    margin-top: 140px;
    margin-bottom: 80px;
  }

  .city-advantages__item {
    align-items: center;
    width: 290px;

    &::before {
      top: -75px;
      left: 105px;
    }

    &--gifts {
      .city-advantages__desc {
        width: 220px;
      }
    }
  }

  .city-advantages__desc {
    margin: 0;
  }
}
