.city-advantages__list {
  margin: 35px;
  margin-bottom: 40px;
  padding-left: 35px;
  list-style: none;
  text-align: left;
}

.city-advantages__heading {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $heading-color;
} 

.city-advantages__item {
  position: relative;
  margin-bottom: 25px;


  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -45px;
  }

  &--house::before {
    width: 37px;
    height: 36px;
    background: url("../../img/icon-house.svg") center no-repeat;
    background-size: contain;
  }

  &--gifts::before {
    width: 32px;
    height: 38px;
    background: url("../../img/icon-gift.svg") center no-repeat;
    background-size: contain;
  }

  &--food::before {
    top: -3px;
    left: -50px;
    width: 40px;
    height: 35px;
    background: url("../../img/icon-burger.svg") center no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .city-advantages__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 140px 45px 50px 45px;
  }

  .city-advantages__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;

    &--food {
      margin: 0 75px;
    }

    &--gifts {
      order: 1;
    }

    &::before {
      top: -80px;
      left: 45px;
    }

    &--house::before {
      width: 75px;
      height: 72px;
    }

    &--gifts::before {
      width: 64px;
      height: 75px;
    }

    &--food::before {
      top: -75px;
      left: 44px;
      width: 77px;
      height: 68px;
    }
  }

  .city-advantages__heading {
    margin-bottom: 5px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .city-advantages__list {
    margin: 140px 55px 70px 55px;
  }

  .city-advantages__item {
    align-items: center;
    width: 290px;

    &::before {
      top: -80px;
      left: 105px;
    }

    &--gifts {
      .city-advantages__desc {
        width: 220px;
      }
    }

    &--food::before {
      top: -75px;
    }

    &--gifts::before {
      left: 110px;
    }
  }
}
