.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-weight: normal;
  }

  &__link {
    display: inline-block;
    margin-left: 10px;
    font-size: 0;
    width: 27px;
    height: 34px;
    background: url(../../img/logo-htmlacademy.svg) center no-repeat;
  }
}
