.features-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  background-color: #eeeeee;
}

.features-list__item {
  align-self: center;
  width: 280px;
  padding: 30px 40px;

  &--road {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
  }
}

.features-list__subheading {
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
}

@media (min-width: $tablet-width) {
  .features-list {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 45px;
  }

  .features-list__item {
    width: 160px;

    &--road {
      border: none;
    }
  }

  .features-list__subheading {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 26px;
  }

  .features-list__desc {
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .features-list__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 270px;
  }

  .features-list__subheading {
    align-self: center;
    width: 130px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
