.features {
  display: flex;
  flex-direction: column;
}

.features__header {
  position: relative;
  margin: 40px 30px;
  margin-bottom: 28px;

  &::after {
    content: "";
    position: absolute;
    bottom: -43px;
    left: calc(50% - 160px);

    height: 37px;
    width: 320px;
    background: url("../img/bg-triangle.svg") center no-repeat;
  }
}

.features__heading {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $heading-color;
}

.features__intro {
  margin-top: 28px;
  margin-bottom: 0;
  line-height: 24px;
}

.features__item {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.features__text {
  margin: 0 auto;
  padding: 55px 15px 40px 15px;
  background-color: $initial-bg;
  color: #ffffff;

  &--second {
    padding: 40px 15px 35px 15px;
  }
}

.features__subheading {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  br {
    display: none;
  }
}

.features__desc {
  margin-top: 15px;
  margin-bottom: 0;
  width: 100%;
}

.features__pic-wrap {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.features__pic {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}


@media (min-width: $tablet-width) {
  .features__header {
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 500px;

    &::after {
      display: none;
    }
  }

  .features__heading {
    font-size: 21px;
  }

  .features__intro {
    letter-spacing: 0.01em;
  }

  .features__item {
    display: flex;
    flex-direction: row;
    width: 100%;

    picture {
      flex-grow: 1;
    }
  }

  .features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px 35px 40px 35px;
    width: 33.5%;
    min-width: 256px;
    box-sizing: border-box;

    &--second {
      order: 1;
    }
  }

  .features__subheading {
    margin: 0;
    margin-top: 0;
    width: 100%;
    font-size: 21px;

    br {
      display: block;
    }
  }

  .features__number {
    margin-top: 10px;
  }

  .features__desc {
    margin-top: 20px;
    max-width: 166px;
    letter-spacing: 0.01em;
  }

  .features__pic-wrap {
    height: 256px;
  }

  .features__pic {
    min-width: 510px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin: 0 auto;
    width: 100%;
  }

  .features__desc {
    max-width: 267px;
  }

  .features__text {
    box-sizing: border-box;
    padding: 30px 60px 40px 60px;

    &--second {
      padding: 30px 85px 40px 85px;
    }
  }

  .features__pic-wrap {
    max-width: 800px;
  }

  .features__pic {
    margin-top: -70px;
  }
}
