.features-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  background-color: #eeeeee;
}

.features-list__item {
  align-self: center;
  width: 285px;
  padding: 30px 15px 25px 15px;
  box-sizing: border-box;

  &--road {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
  }
}

.features-list__subheading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
}

.features-list__desc {
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .features-list {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 35px 0;
  }

  .features-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 45px;
    width: 33%;

    &--road {
      padding: 0 55px;
      border: none;
    }
  }

  .features-list__subheading {
    margin: 10px;
    font-size: 21px;
    line-height: 26px;
  }

  .features-list__desc {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 55px;
  }

  .features-list__item {
    align-self: flex-start;
    padding: 0 50px;

    &--road {
      padding: 0 65px;
    }
  }

  .features-list__subheading {
    width: 130px;
  }

  .features-list__desc {
    letter-spacing: 0.01em;
  }
}
