.feedback-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}

.feedback-form__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 20px 0 20px;
  border-top: 1px solid #e5e5e5;

  &--name {
    padding-bottom: 5px;
  }

  &--contact {
    padding-bottom: 15px;
  }

  &--describe {
    margin-bottom: 40px;
  }
}

.feedback-form__heading {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
  line-height: 24px;
}

.feedback-form__label {
  margin-right: 15px;
  line-height: 26px;

  &--contact {
    margin-left: 20px;
  }
}

.feedback-form__subitem {
  display: flex;
  align-content: center;
  align-items: baseline;
  margin-bottom: 10px;
}

.feedback-form__input,
.feedback-form__textarea {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  height: 58px;
  width: 100%;
  background-color: $input;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;

  &:hover {
    background-color: $input-hover;
  }

  &:focus {
    background-color: transparent;
    outline: 4px solid $input-hover;
  }
}

.feedback-form__wrap {
  position: relative;
  margin-top: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
  }

  &--phone::after {
    background: #e6e6e6 url("../img/icon-phone.svg") center no-repeat;
  }

  &--email::after {
    background: #e6e6e6 url("../img/icon-mail.svg") center no-repeat;
  }
}

.feedback-form__option {
  margin-bottom: 42px;
  margin-left: 57px;

  &:first-of-type {
    margin-top: 18px;
  }

  &--checkbox {
    margin-bottom: 52px;

    &:last-of-type {
      margin-bottom: 41px;
    }
  }

  &:hover {
    .feedback-form__label-radio::before,
    .feedback-form__label-check::before {
      background-color: $input-hover;
      border-color: $input-hover;
    }
  }
}

//Radiobuttons
.feedback-form__radio {
  opacity: 0;

  &:checked ~ .feedback-form__label-radio::before {
    background-color: #333333;
  }

  &:focus + .feedback-form__label-radio::before {
    outline: none;
    border-color: $input-down-bg;
  }

  &:checked:focus ~ .feedback-form__label-radio::before {
    background-color: $input-down-dot;
  }
}

.feedback-form__label-radio {
  position: relative;
  cursor: pointer;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -80px;
    width: 20px;
    height: 20px;
    background-color: $input;
    border: 17px solid $input;
    border-radius: 50%;
  }
}

//Checkbox
.feedback-form__checkbox {
  opacity: 0;

  &:checked ~ .feedback-form__label-check::after {
    display: block;
    top: 0;
    left: -59px;
    width: 10px;
    height: 17px;
    border: solid #333333;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }

  &:focus + .feedback-form__label-check::before {
    outline: none;
    background-color: $input-down-bg;
    border-color: $input-down-bg;
  }

  &:checked:focus + .feedback-form__label-check::after {
    border-color: $input-down-dot;
  }
}

.feedback-form__label-check {
  position: relative;
  cursor: pointer;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -80px;
    width: 45px;
    height: 45px;
    background-color: $input;
    border: 5px solid $input;
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.feedback-form__textarea {
  padding-top: 15px;
  width: 100%;
  height: 160px;
  font-family: "PT Sans", "Calibri", sans-serif;
}

.feedback-form__btn {
  align-self: center;
  padding: 17px 30px;
  //font-weight: normal;
}

.feedback-form__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .feedback-form__heading {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 57px;
    font-size: 21px;
    text-align: left;

    &--centered {
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;
      width: 400px;
      margin: 0 60px;
      margin-bottom: 28px;
      text-align: center;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -125px;
        height: 1px;
        width: 125px;
        background-color: #e5e5e5;
      }

      &::after {
        left: auto;
        right: -125px;
      }
    }
  }

  .feedback-form__input {
    margin-bottom: 0;
  }

  .feedback-form__item {
    padding: 0;
    border: none;
    width: 100%;

    &--impression {
      order: -1;
      justify-content: space-between;
      width: 50%;
      border-right: 1px solid #e5e5e5;
    }

    &--name {
      justify-content: space-between;
      padding-left: 55px;
      width: 49%;
      height: 290px;
      box-sizing: border-box;
    }

    &--contact {
      margin-top: 35px;
    }

    &--visited {
      margin-top: 55px;
      height: 235px;
    }

    &--describe {
      margin-top: 70px;
      margin-bottom: 10px;
    }
  }

  .feedback-form__subitem {
    margin-bottom: 20px;
  }

  .feedback-form__label {
    margin-bottom: 0;
  }

  .feedback-form__wrap {
    margin-top: 5px;

    &--phone {
      margin-bottom: 25px;
    }
  }

  //Impression block
  .feedback-form__option {
    margin-left: 55px;
    margin-bottom: 51px;

    &:first-of-type {
      margin-top: 18px;
    }

    &--checkbox {
      margin-bottom: 62px;

      &:first-of-type {
        margin-top: 0;
      }

      &:nth-of-type(2) {
        padding-right: 13px;
      }

      &:last-of-type {
        margin-bottom: auto;
      }
    }
  }

  .feedback-form__label-radio {
    &::before {
      left: -75px;
    }
  }

  .feedback-form__wrapper--visited {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 15px;
    padding: 15px 94px 0 97px;
    height: 100%;
  }

  .feedback-form__textarea {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .feedback-form__btn {
    width: 50%;
    margin-bottom: 60px;
  }

  .feedback-form__legend {
    display: block;
    padding-top: 15px;
    margin-left: auto;
    font-size: 14px;
    color: $desc-color;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    padding: 0 120px;
  }

  .feedback-form__item {
    &--name {
      padding-left: 78px;
    }

    &--impression {
      .feedback-form__heading {
        margin-left: 80px;
      }
    }

    &--contact {
      margin-top: 32px;
    }

    &--visited {
      margin-top: 50px;
      height: auto;

      .feedback-form__heading {
        margin-bottom: 45px;
      }
    }

    &--describe {
      margin-top: 15px;
    }
  }

  .feedback-form__subitem {
    margin-bottom: 18px;
  }

  .feedback-form__heading {
    margin-top: 4px;
    margin-bottom: 55px;

    &--centered {
      &::before,
      &::after {
        left: -280px;
        width: 280px;
      }

      &::after {
        left: auto;
        right: -280px;
      }
    }
  }

  .feedback-form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--contact {
      margin-top: 17px;
    }

    &--visited {
      margin-top: 13px;
      padding: 0;
    }
  }

  .feedback-form__label--contact {
    margin: 0;
    margin-right: 18px;

    span {
      display: none;
    }
  }

  .feedback-form__wrap {
    width: 315px;

    &--phone {
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  .feedback-form__option {
    margin-left: 57px;

    &--checkbox {
      &:nth-of-type(2) {
        padding-right: 0;
      }
    }
  }

  .feedback-form__textarea {
    margin-top: 5px;
    margin-bottom: 45px;
  }

  .feedback-form__btn {
    margin-bottom: 70px;
  }
}
