.menu-list {
  @include list;
}

.menu-list__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 20px;

  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;

  background-color: $initial-bg;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.menu-list a[href] {
  &:hover {
    background-color: $hover-bg;
  }

  &:active {
    background-color: $down-bg;
    color: $down-color;
  }
}

@media (min-width: $tablet-width) {
  .menu-list__item {
    background-color: #ffffff;
    border: none;
    min-width: 20%;

    &:nth-child(3) {
      margin-left: auto;
      min-width: 19%;
    }

    &:hover {
      background-color: #ffffff;
    }
  }

  .menu-list__link {
    color: $menu;
    font-size: 14px;
    background: none;
    border: none;
  }

  .menu-list a[href] {
    &:hover {
      color: $menu-hover;
      background: #ffffff;
    }

    &:active {
      color: $menu-down;
      background: #ffffff;
    }
  }

  .menu-list__item--active a {
    color: $menu-active;

    &:hover {
      color: $menu-active-hover;
    }

    &:active {
      color: $menu-active-down;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu-list__item {
    min-width: 240px;

    &:nth-child(3) {
      min-width: 20%;
    }
  }
}
