.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__header {
  align-self: center;
  padding: 20px;
  max-width: 430px;
}

.page-main__heading {
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
}

.page-main__intro {
  margin-bottom: 0;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    padding-top: 50px;
    padding-bottom: 55px;
    max-width: 443px;
  }

  .page-main__heading {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }

  .page-main__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    margin: 0;
  }

  .page-main__header {
    padding-top: 90px;
  }
}
