.post {
  padding: 20px;
  border-top: 1px solid #e5e5e5;

  img {
    width: 100%;
  }

  &:last-of-type {
    border-bottom: 1px solid #e5e5e5;
  }
}

.post__info {
  text-align: left;
}

.post__heading {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  color: $heading-color;
}

.post__author {
  text-transform: none;
  line-height: 15px;
}

.post__like {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: $heading-color;
}

.post__pic {
  margin-right: 12px;
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .post {
    padding: 0;
    width: 324px;

    &:first-of-type {
      width: 100%;

      img {
        object-fit: cover;
        height: 400px;
      }
    }
  }

  .post__info {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: $input;
  }

  .post__like {
    margin-left: auto;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .post {
    width: 400px;
    position: relative;
  }

  .post__info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(#000000, 0.3%);
    color: #ffffff;
  }

  .post__heading {
    color: #ffffff;
  }
}
