.post {
  padding: 20px;
  border-top: 1px solid #e5e5e5;

  img {
    width: 100%;
  }

  &:last-of-type {
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 322px;

    &:first-of-type {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.post__info {
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0 30px 10px 20px;
    background-color: $input;

    &:hover {
      background-color: $input-hover;
    }
  }
}

.post__heading {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  color: $heading-color;
}

.post__author {
  text-transform: none;
  line-height: 15px;
}

.post__like {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: $heading-color;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    align-self: center;
  }
}

.post__pic {
  margin-right: 12px;
  vertical-align: bottom;
}
