.social__list {
  @include list;
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
  font-size: 0;
}

.social__link {
  display: inline-block;
  height: 48px;
  width: 46px;
  background-color: $initial-bg;

  &:hover {
    background-color: $hover-bg;
  }

  &:focus {
    background-color: $down-bg;
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    
  }

  &--facebook {
    margin: 0 6px 0 6px;
    background-image: url("../../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube {
    background-image: url("../../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
