.social__list {
  @include list;
  display: flex;
  justify-content: center;
  margin: 35px 0 40px 0;
  font-size: 0;
}

.social__link {
  display: inline-block;
  height: 48px;
  width: 46px;
  box-sizing: border-box;
  background-color: $initial-bg;
  fill: #ffffff;

  &:hover {
    background-color: $hover-bg;
  }

  &:focus {
    background-color: $down-bg;
    fill: $down-color;
  }

  &--twitter {
    padding-top: 15px;
  }

  &--facebook {
    margin: 0 6px 0 6px;
    padding-top: 13px;
  }

  &--youtube {
    padding-top: 16px;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 35px 0 35px 0;
  }
}
