.video {
  position: relative;
  margin-top: 35px;
  margin-bottom: 100px;
}

.video-controls__track {
  position: absolute;
  height: 65px;
  width: 280px;
  background-color: rdba(#000000, 0.6%);
}

.video-controls__panel {
  display: flex;
  margin: 0 auto;
  padding: 23px;
  height: 20px;
  width: 235px;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.video-controls__btn {
  height: 20px;
  border: none;
  background-color: transparent;

  svg {
    fill: #5c6870;
  }
}
