.video {
  position: relative;
  margin-top: 20px;
  margin-bottom: 85px;
}

.video__screen {
  vertical-align: top;
}

.video__track {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 45px;
  width: 280px;
  background-color: rgba(#000000, 0.6%);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    height: 3px;
    width: 84%;
    background: #ffffff;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 55px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
  }
}

.video__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -65px;
  left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 22px;
  height: 65px;
  width: 280px;
  background-color: #f2f2f2;
}

.video__btn {
  height: 20px;
  border: 1px solid red;
  background-color: transparent;
  cursor: pointer;

  &--captions {
    margin-left: 100px;
  }

  &:hover {
    .video__svg {
      fill: #333333;
    }
  }
}

.video__svg {
  fill: #5c6870;
}

@media (min-width: $tablet-width) {
  .video {
    margin-top: 75px;
    margin-bottom: 40px;
  }

  .video__screen {
    width: 648px;
    height: 500px;
  }

  .video__panels {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 90px;
    background-color: rgba(#000000, 0.6%);
  }

  .video__track {
    bottom: 20px;
    width: 390px;
    background-color: transparent;

    &::before {
      left: 75px;
      bottom: 25px;
      margin: auto 0;
      width: 390px;
    }

    &::after {
      top: 15px;
      left: 185px;
    }
  }

  .video__controls {
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: transparent;
  }

  .video__btn--captions {
    margin-left: auto;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    margin-top: 70px;
    margin-bottom: 90px;
  }

  .video__screen {
    width: 800px;
  }

  .video__track {
    width: 540px;

    &::before {
      width: 540px;
    }
  }
}
