.video-intro {
  padding: 40px;
  line-height: 24px;
  margin: 0 auto;
}

.video-intro__heading {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video-intro__desc {
  @media (min-width: $tablet-width) {
    max-width: 415px;
  }
}
