.video-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  padding-top: 35px;
  line-height: 24px;
}

.video-intro__heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: $heading-color;
}

@media (min-width: $tablet-width) {
  .video-intro {
    padding: 0;
    padding-top: 70px;
  }

  .video-intro__heading {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .video-intro__desc {
    margin: 0;
    max-width: 420px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: $desktop-width) {
  .video-intro {
    padding-top: 70px;
  }
}
