// Font color
$heading-color: #000000;
$desc-color: #333333;
$down-color: rgba(255, 255, 255, 0.3%);

// Background color
$initial-bg: #81b3d2;
$hover-bg: #669ec0;
$down-bg: #5496bd;

// Form background color
$input: #f2f2f2;
$input-hover: #e5e5e5;
$input-down: #d5d5d5;
