body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: $desc-color;
  text-transform: uppercase;
  text-align: center;
}
